<%- include('template/head.ejs') %>
    <% if (data1 && data1.length> 0) { %>
        <% data1.forEach(function(modelo) { %>

            <body class="modelo-container">
                <main class="container-sm">
                    <div>
                        <div class="modelo_vehiculo">
                            <div>
                                <h1 class="text-start">
                                    <strong><%= modelo.nombre_modelo %></strong>
                                </h1>
                                <img src="../img/<%= modelo.nombre_modelo %>.webp"
                                    alt="modelo.ejs <%= modelo.nombre_modelo %>">
                            </div>
                            <div class="text-title">
                                <h1>Características</h1>
                                <div class="text">
                                    <div class="descripcion">
                                    <svg xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg"
                                        width="62" height="62" viewBox="0 0 62 62" class="undefined">
                                        <g id="Grupo_1116" data-name="Grupo 1116" transform="translate(-1513 -2855)">
                                            <circle id="Elipse_105" data-name="Elipse 105" cx="31" cy="31" r="31"
                                                transform="translate(1513 2855)" fill="#77CEE0" />
                                            <path id="man-woman"
                                                d="M20,8a4,4,0,1,1,4-4A4.005,4.005,0,0,1,20,8Zm0-6.4A2.4,2.4,0,1,0,22.4,4,2.4,2.4,0,0,0,20,1.6Zm6.554,16.485a2.5,2.5,0,0,0,1.752.742,2.119,2.119,0,0,0,1.51-.611,2.314,2.314,0,0,0-.131-3.262L25.7,10.967A5.2,5.2,0,0,0,22.4,9.6H17.6a5.2,5.2,0,0,0-3.3,1.366l-3.987,3.987a2.5,2.5,0,0,0-.738,1.61,2.146,2.146,0,0,0,.606,1.653,2.116,2.116,0,0,0,1.51.611,2.5,2.5,0,0,0,1.752-.742l2.92-2.92.347,1.39L11.763,21.5A1.379,1.379,0,0,0,12.8,24H16v5.6a2.4,2.4,0,0,0,4,1.787A2.4,2.4,0,0,0,24,29.6V24h3.2a1.379,1.379,0,0,0,1.034-2.5l-4.949-4.949.347-1.39,2.92,2.92ZM18.4,30.4a.8.8,0,0,1-.8-.8V24h1.6v5.6a.8.8,0,0,1-.8.8Zm4-.8a.8.8,0,0,1-1.6,0V24h1.6v5.6Zm-.566-12.234L26.868,22.4H13.13l5.034-5.034a.8.8,0,0,0,.211-.76l-.8-3.2a.8.8,0,0,0-1.342-.373l-3.918,3.918a.9.9,0,0,1-.621.274.528.528,0,0,1-.379-.142.549.549,0,0,1-.141-.424.915.915,0,0,1,.272-.576L15.433,12.1a3.7,3.7,0,0,1,2.166-.9h4.8a3.693,3.693,0,0,1,2.166.9l3.987,3.987a.736.736,0,0,1,.131,1,.525.525,0,0,1-.379.142.892.892,0,0,1-.621-.274l-3.918-3.918a.8.8,0,0,0-1.342.373l-.8,3.2a.8.8,0,0,0,.211.76ZM8.8,8a4,4,0,1,1,4-4A4.005,4.005,0,0,1,8.8,8Zm0-6.4A2.4,2.4,0,1,0,11.2,4,2.4,2.4,0,0,0,8.8,1.6Zm3.2,24a.8.8,0,0,0-.8.8v3.2a.8.8,0,0,1-1.6,0V20A.8.8,0,0,0,8,20v9.6a.8.8,0,0,1-1.6,0v-16a.8.8,0,0,0-1.6,0v4.8a.8.8,0,0,1-1.6,0V12a.8.8,0,0,1,.8-.8h8a.8.8,0,0,0,0-1.6H4A2.4,2.4,0,0,0,1.6,12v6.4a2.4,2.4,0,0,0,3.2,2.262V29.6a2.4,2.4,0,0,0,4,1.787,2.4,2.4,0,0,0,4-1.787V26.4a.8.8,0,0,0-.8-.8Z"
                                                fill="#ffffff" transform="translate(1528.4 2869)" />
                                        </g>
                                    </svg>
                                    <p>Numero de Personas: <%= modelo.personas %>
                                    </p>
                                    </div>
                                    <div class="descripcion">
                                    <svg xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg"
                                        width="62" height="62" viewBox="0 0 62 62" class="undefined">
                                        <g id="Grupo_1115" data-name="Grupo 1115" transform="translate(-1513 -2765)">
                                            <circle id="Elipse_104" data-name="Elipse 104" cx="31" cy="31" r="31"
                                                transform="translate(1513 2765)" fill="#77CEE0" />
                                            <path id="car2"
                                                d="M8.8,25.6a2.4,2.4,0,1,1,2.4-2.4,2.4,2.4,0,0,1-2.4,2.4Zm0-3.2a.8.8,0,1,0,.8.8A.8.8,0,0,0,8.8,22.4Zm14.4,3.2a2.4,2.4,0,1,1,2.4-2.4A2.4,2.4,0,0,1,23.2,25.6Zm0-3.2a.8.8,0,1,0,.8.8A.8.8,0,0,0,23.2,22.4Zm3.933-3.349a33.447,33.447,0,0,0-1.618-6.61c-.488-.976-1.741-1.723-3.722-2.218A24.871,24.871,0,0,0,16,9.6a24.817,24.817,0,0,0-5.794.624c-1.981.5-3.234,1.242-3.722,2.218a33.4,33.4,0,0,0-1.618,6.61A3.788,3.788,0,0,0,3.2,22.4v4a2.4,2.4,0,0,0,1.6,2.262V30.4A1.6,1.6,0,0,0,6.4,32H8a1.6,1.6,0,0,0,1.6-1.6V28.8H22.4v1.6A1.6,1.6,0,0,0,24,32h1.6a1.6,1.6,0,0,0,1.6-1.6V28.662A2.4,2.4,0,0,0,28.8,26.4v-4a3.789,3.789,0,0,0-1.667-3.349ZM7.915,13.158C8.39,12.209,11.384,11.2,16,11.2s7.61,1.008,8.085,1.958a26.8,26.8,0,0,1,1.285,5.093c-.157-.046-.318-.09-.485-.128-.427-.1-.888-.182-1.381-.25L18.866,14.55a.8.8,0,1,0-.933,1.3l2.506,1.795C19.079,17.6,17.588,17.6,16,17.6h-.558l-4.6-3.066a.8.8,0,1,0-.887,1.331l2.63,1.754a27.035,27.035,0,0,0-5.472.5q-.249.06-.485.128a26.865,26.865,0,0,1,1.286-5.093ZM8,30.4H6.4V28.8H8Zm16,0V28.8h1.6v1.6Zm3.2-4a.8.8,0,0,1-.8.8H5.6a.8.8,0,0,1-.8-.8v-4c0-1.478.778-2.267,2.685-2.722A42.667,42.667,0,0,1,16,19.2a42.672,42.672,0,0,1,8.515.478c1.907.454,2.685,1.243,2.685,2.722v4Z"
                                                fill="#ffffff" transform="translate(1528.802 2775.401)" />
                                        </g>
                                    </svg>
                                    <p>Puertas: <%= modelo.puertas %>
                                    </p>
                                    </div>
                                    <div class="descripcion">
                                    <svg xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg"
                                        width="62" height="62" viewBox="0 0 62 62" class="undefined">
                                        <g id="Grupo_1118" data-name="Grupo 1118" transform="translate(-1513 -3035)">
                                            <circle id="Elipse_107" data-name="Elipse 107" cx="31" cy="31" r="31"
                                                transform="translate(1513 3035)" fill="#77CEE0" />
                                            <path id="transmission"
                                                d="M24.8,11.2a.8.8,0,0,0-.8.8v3.2a.8.8,0,0,1-.8.8h-4V12a.8.8,0,1,0-1.6,0v4H15.92a4.013,4.013,0,0,0-3.12-3.12V12a.8.8,0,0,0-1.6,0v.88A4.013,4.013,0,0,0,8.08,16H6.4V12a.8.8,0,0,0-1.6,0v9.6a.8.8,0,0,0,1.6,0v-4H8.08a4.013,4.013,0,0,0,3.12,3.12v.88a.8.8,0,0,0,1.6,0v-.88a4.013,4.013,0,0,0,3.12-3.12H17.6v4a.8.8,0,1,0,1.6,0v-4h4a2.4,2.4,0,0,0,2.4-2.4V12a.8.8,0,0,0-.8-.8ZM12,19.2a2.4,2.4,0,1,1,2.4-2.4A2.4,2.4,0,0,1,12,19.2ZM7.2,32H4a.8.8,0,0,1-.8-.8V28a.8.8,0,0,1,.8-.8H6.4V25.6H4A.8.8,0,1,1,4,24H7.2a.8.8,0,0,1,.8.8V28a.8.8,0,0,1-.8.8H4.8v1.6H7.2a.8.8,0,1,1,0,1.6ZM13.6,1.6H10.4a.8.8,0,1,0,0,1.6h2.4V4.8H10.4a.8.8,0,0,0,0,1.6h2.4V8H10.174a.8.8,0,1,0,0,1.6H13.6a.8.8,0,0,0,.8-.8V2.4a.8.8,0,0,0-.8-.8Zm0,22.4a.8.8,0,0,0-.8.8v2.4H11.2V24.8a.8.8,0,0,0-1.6,0V28a.8.8,0,0,0,.8.8h2.4v2.4a.8.8,0,0,0,1.6,0V24.8a.8.8,0,0,0-.8-.8ZM20,9.6H16.8a.8.8,0,1,1,0-1.6h2.4V6.4H16.8a.8.8,0,0,1-.8-.8V2.4a.8.8,0,0,1,.8-.8H20a.8.8,0,0,1,0,1.6H17.6V4.8H20a.8.8,0,0,1,.8.8V8.8A.8.8,0,0,1,20,9.6ZM20,32H16.8a.8.8,0,0,1-.8-.8V24.8a.8.8,0,0,1,.8-.8H20a.8.8,0,0,1,0,1.6H17.6v1.6H20a.8.8,0,0,1,.8.8v3.2A.8.8,0,0,1,20,32Zm-2.4-1.6h1.6V28.8H17.6ZM26.4,9.6a.794.794,0,0,1-.565-.234L24,7.532V8.8a.8.8,0,1,1-1.6,0V2.4a.8.8,0,0,1,.8-.8h3.2a.8.8,0,0,1,.8.8V5.6a.8.8,0,0,1-.8.8H25.131l1.834,1.834A.8.8,0,0,1,26.4,9.6ZM24,4.8h1.6V3.2H24ZM7.2,8H6.4V2.4a.8.8,0,0,0-.8-.8H4A.8.8,0,0,0,4,3.2h.8V8H4A.8.8,0,0,0,4,9.6H7.2A.8.8,0,0,0,7.2,8Z"
                                                transform="translate(1530.8 3051.4)" fill="#ffffff" />
                                        </g>
                                    </svg>
                                    <p>Cambio: <%= modelo.cambio %>
                                    </p>
                                    </div>
                                    <div class="descripcion">
                                    <svg xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg"
                                        width="62" height="62" viewBox="0 0 62 62" class="undefined">
                                        <g id="Grupo_1117" data-name="Grupo 1117" transform="translate(-1513 -2945)">
                                            <circle id="Elipse_106" data-name="Elipse 106" cx="31" cy="31" r="31"
                                                transform="translate(1513 2945)" fill="#77CEE0" />
                                            <path id="briefcase"
                                                d="M29.6,8H22.4V5.6A2.4,2.4,0,0,0,20,3.2H12A2.4,2.4,0,0,0,9.6,5.6V8H2.4A2.4,2.4,0,0,0,0,10.4V28a2.4,2.4,0,0,0,2.4,2.4H29.6A2.4,2.4,0,0,0,32,28V10.4A2.4,2.4,0,0,0,29.6,8ZM11.2,5.6a.8.8,0,0,1,.8-.8h8a.8.8,0,0,1,.8.8V8H11.2V5.6Zm-8.8,4H29.6a.8.8,0,0,1,.8.8v12H27.2v-.8a.8.8,0,0,0-.8-.8H23.2a.8.8,0,0,0-.8.8v.8H9.6v-.8a.8.8,0,0,0-.8-.8H5.6a.8.8,0,0,0-.8.8v.8H1.6v-12a.8.8,0,0,1,.8-.8ZM25.6,22.4V24H24V22.4ZM8,22.4V24H6.4V22.4Zm21.6,6.4H2.4a.8.8,0,0,1-.8-.8V24H4.8v.8a.8.8,0,0,0,.8.8H8.8a.8.8,0,0,0,.8-.8V24H22.4v.8a.8.8,0,0,0,.8.8h3.2a.8.8,0,0,0,.8-.8V24h3.2v4a.8.8,0,0,1-.8.8Z"
                                                transform="translate(1528 2956.8)" fill="#ffffff" />
                                        </g>
                                    </svg>
                                    <p>Maletas: <%= modelo.maletas %>
                                    </p>
                                    </div>
                                    <p>Desde: <span>$<%= modelo.precioDia %></span> por día
                                    </p>
                                    <p>Precio final garantizado</p>
                                    <a href="http://localhost:3000/<%= modelo.tipo %>/<%= modelo.nombre_modelo %>"
                                        class="quitar">
                                        <p>Reservar</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <% }); %>
                            <% } else { %>
                                <p>No hay modelos disponibles para este tipo.</p>
                                <% } %>
                    </div>
                </main>
            </body>

            </html>